# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [44]:
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [42]:
n_legendary = pokemon[pokemon['Legendary']==True]
n_nonlegendary = pokemon[pokemon['Legendary']==False]
a = n_legendary['Name'].count()
print(f"#Legendary :{ n_legendary['Name'].count()}")
print(f"#Non-Legendary :{n_nonlegendary['Name'].count()}")

#Legendary :65
#Non-Legendary :735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [45]:
mean_leg = n_legendary['Total'].mean()
std_leg = n_legendary['Total'].std()
print(f"Mean:{mean_leg} and  Standard Deviation:{std_leg}")

mean_nleg = n_nonlegendary['Total'].mean()
std_nleg = n_nonlegendary['Total'].std()
print(f"Mean:{mean_nleg} and  Standard Deviation:{std_nleg}")

Mean:637.3846153846154 and  Standard Deviation:60.93738905315346
Mean:417.21360544217686 and  Standard Deviation:106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [48]:
tstat, pval = stats.ttest_ind(n_legendary['Total'],n_nonlegendary['Total'],equal_var=False)
pval

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#we reject the null Hypothesis. The means are different.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [50]:
pokemon.groupby('Type 1')['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [53]:
water = pokemon[pokemon['Type 1']=='Water']
other = pokemon[pokemon['Type 1']!='Water']
water_mean = water['Total'].mean()
water_std = water['Total'].std()
print(f"Mean:{water_mean} and  Standard Deviation:{water_std}")


other_mean = other['Total'].mean()
other_std = other['Total'].std()
print(f"Mean:{other_mean} and  Standard Deviation:{other_std}")

Mean:430.45535714285717 and  Standard Deviation:113.18826606431458
Mean:435.85901162790697 and  Standard Deviation:121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [55]:
tstat, pval = stats.ttest_ind(water['Total'],other['Total'])
pval

0.6587140317488793

Write your conclusion below.

In [10]:
# Your conclusions here:
#we cannot reject the null Hypothesis so the means 
#are statistically not different

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [56]:
stats.ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# we reject the null hypothesis of equal means.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [58]:
# Your code here:
stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])
pval

0.6587140317488793

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# We cannot reject the null hypothesis
# the means are statistically not different

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [62]:
# Your code here:
tstat, pval = stats.ttest_1samp(pokemon.Attack - pokemon.Defense, 0)

tstat2,pval2 = stats.ttest_rel(pokemon['Attack'],pokemon['Defense'])

pval == pval2

True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [68]:
pokemon['Water']= np.where(pokemon['Type 1']=='Water',True,False)

cross = pd.crosstab(index = pokemon['Water'], columns = pokemon['Legendary'])
cross

Legendary  False  True
Water
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [71]:
chi2, pval, dof, ex= stats.chi2_contingency(cross)

pval

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [72]:
# Your answer here:
if pval > 0.05:
    print('Probably independent')
else:
    print('Probably dependent')

Probably independent